* {
    color: white;
}

.base {
    display: grid;
    grid-template-columns: 55% 45%;
}

.container {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #910DE1;
}

.cadastro {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px 50px;
    background-color: #ffffff37;
    border-radius: 15px;
}

.cadastro > p {
    font-size: 12px;
}

#btn-cadastro, #btn-login{
    display: block;
    border-radius: 15px;
    width: 250px;
    height: 50px;
    background-color: #0085FF;
    font-size: 15px;
    color: white;
    border: none;
    margin: 25px 0 25px 0;
}

#btn-login {
    width: 330px;
    margin: 55px 0;
}

.div-login {
    display: grid;
    justify-items: center;
    align-items: center;
}

.div-login > h1{
    text-align: center;
    margin-bottom: 100px;
}

.campo-login {
    display: block;
    width: 315px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 8px;
    font-size: 15px;
    color: black;
    margin: 20px 0;
    font-weight: 200;
}

a {
    font-size: 12px;
}

#btn-cadastro:hover, #btn-login:hover {
    cursor:pointer;
    background-color: #0078e9;
    transition: all ease .2s;
}

@media (max-width: 820px)
{

    .base {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    .container {
        border-radius: 20px;
        background-color: #910DE1;
        height: 650px;
        min-width: 415px;
        max-width: 500px;
    }

    .div-login {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 150px 285px 150px;
    }

    .teste {
        display: none;
    }

    h1 {
        margin-bottom: 40px;
    }
}