* {
    color: white;
}

.base {
    display: grid;
    grid-template-columns: 55% 45%;
    height: 100vh;
}

.container {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #910DE1;
}

.cadastro {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px 50px;
    background-color: #ffffff37;
    border-radius: 15px;
}

.cadastro > p {
    font-size: 12px;
}

#btn-cadastro, #btn-login{
    display: block;
    border-radius: 15px;
    width: 250px;
    height: 50px;
    background-color: #0085FF;
    font-size: 15px;
    color: white;
    border: none;
    margin: 25px 0 25px 0;
}

#btn-login {
    width: 330px;
    margin: 55px 0;
}

.div-login {
    display: grid;
    justify-items: center;
    align-items: center;
}

.div-login > h1{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 25px;
}

.campo-login {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 8px;
    font-size: 15px;
    color: black;
    margin: 20px 0;
    font-weight: 200;
}

a {
    font-size: 12px;
    text-decoration:underline;
}

#btn-cadastro:hover, #btn-login:hover {
    cursor:pointer;
    background-color: #0078e9;
    transition: all ease .2s;
}

@media (max-width: 820px)
{

    body {
        background-color:#910DE1;
    }

    .base {
        grid-template-columns: 1fr;
    }

    .container {
        height: 100vh;
        width: 100vw;
    }

    .div-login {
        grid-template-rows: 100px 285px 150px;
    }

    .teste {
        display: none;
    }

    .campo-login {
        width: 320px;
    }

    #btn-login {
        width: 320px;
    }

    .navbar {
        display: none;
    }
}